<div class="notFoundPage_Wrapper">
<div class="notFoundPage">
  <div class="notFoundPage_Title">
   <h1>Oops!</h1>
  </div>
  <div class="notFoundPage_Error">
    <h1>404 Not Found</h1>
  </div>
  <div class="notFoundPage_Reason">
    <p class="reason-letter_size">
      Sorry, an error has occurred, Requested page not found!
    </p>
  </div>
  <div class="notFoundPage_Buttons">
    <button class="notFoundPage_FirstBtn" routerLink="../admin/home">Take me Home</button>
    <button class="notFoundPage_SecondBtn"><a href="https://angular.io/tutorial/tour-of-heroes" style="text-decoration: none">Contact Support</a></button>
  </div>
</div>
</div>
