html {
  background-color:#214c84;
  background-blend-mode:overlay;
  display:flex;
  align-items:center;
  justify-content:center;
  background-repeat:no-repeat;
  background-size:cover;
  height:100%;
}
body {
  background-color:transparent;
  margin: 0;
}

.registration-cssave{
  padding:50px 0;
  display: flex;
  align-items: center;
  background-image: url("https://img2.akspic.ru/crops/3/6/8/8/4/148863/148863-moh-animaciya-anime-albom-illustracia-1920x1080.jpg");
}

.registration-cssave form {
  max-width:500px;
  width: 400px;
  height: 515.39px;
  padding:50px 70px;
  border-radius:10px;
  box-shadow:4px 4px 15px rgba(0, 0, 0, 0.4);
  background-color:#fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration-cssave form h3 {
  font-weight:bold;
  margin-bottom:30px;
  font-size: 2rem;

}

.registration-cssave .item {
  border-radius:10px;
  margin-bottom:25px;
  padding:10px 20px;
}
.register-form{
  margin: 0 auto;
}
.registration-cssave .create-account {
  border-radius:30px;
  padding:10px 20px;
  font-size:18px;
  font-weight:bold;
  background-color:#3f93ff;
  border:none;
  color:white;
  margin-bottom:20px;
}
.btn-reset-password{
  color: #5757e3;
  font-weight: 400;
  border: none;
  background: none;
}
.router-link_reset-password{
  text-decoration: none;
}
@media (max-width: 576px) {
  .registration-cssave form {
    padding:50px 20px;
  }
}
