<div class="registration-cssave" style="height: 969px">
  <form class="register-form">
    <fa-icon [icon]="faLock" class="fa-3x"></fa-icon>
    <h3 class="text-center">Forgot Password</h3>
    <p class="text-loginForm" style="color: #a4a4a4; font-size: 14.1px">Please enter your registered email where-
      <br>
      we will send you the reset password link
    </p>
    <div class="reset-wrapper" style="display: flex; flex-direction: column; align-items: center">
    <div class="form-group">
      <input class="form-control item" type="email" name="Email" maxlength="15" minlength="4" pattern="^[a-zA-Z0-9_.-]*$" id="email" placeholder="Email" required>
    </div>
    <div class="form-group" style="margin-bottom: 50px">
      <button class="btn btn-primary btn-block create-account" type="submit">Reset Password Link</button>
    </div>
    <div class="form-group">
      <button class="btn-reset-password"><a class="router-link_reset-password" routerLink="../login">Back to Login</a></button>
    </div>
    </div>
  </form>
</div>

