<div class="header-component">
  <div class="header-title">
    <h1 class="header-name">Admin Dashboard</h1>
  </div>
  <nav class="admin-nav">
  <ul class="admin-nav_wrapper">
    <li class="nav-btn" routerLinkActive="active">
      <a routerLink="./home" class="link-decoration">Home</a>
    </li>
    <li class="nav-btn"  routerLinkActive="active">
      <a routerLink="./about" class="link-decoration">About</a>
    </li>
    <li class="nav-btn"  routerLinkActive="active">
      <a routerLink="./services" class="link-decoration">Services</a>
    </li>
    <li class="nav-btn"  routerLinkActive="active">
      <a routerLink="./contact" class="link-decoration">Contact</a>
    </li>
    <li class=" nav-btn logout" >
      <a class="link-decoration " (click)="logout()">logout</a>
    </li>
  </ul>
</nav>
  <div class="header-end_space"></div>
</div>
